# Plugin Configuration for Ct Scanner Simulations
# Each entry is menuname, "Command text", classname
# Author LazzyIzzi
# Requires ImageJ 1.53k
# Date:8/29/2021

# Apparently jar class files exported from eclipse cannot be used directly to install ImageJ plugins
# 1. Export only the java files
# 2. Comment out the "package" statement in the java file
# 3. Compile within imageJ  "Compile and Run"
# 4. Zip the class, java and plugins.config files
# 5. Put the zip file in the plugins folder

Plugins>Tomography_Tools,"Fan_Bremsstrahlung_Scan",Fan_Bremsstrahlung_Scan_Lib
Plugins>Tomography_Tools,"Fan_MuLin_Scan",Fan_MuLin_Scan_Lib
Plugins>Tomography_Tools,"Parallel_Bremsstrahlung_Scan",Parallel_Bremsstrahlung_Scan_Lib
Plugins>Tomography_Tools,"Parallel_MuLin_Scan",Parallel_MuLin_Scan_Lib
Plugins>Tomography_Tools,"Beam_Hardening_Estimator",Beam_Hardening_Estimator
Plugins>Tomography_Tools,"Xray_Calculator",Xray_Calculator