# Plugin Configuration for CT_Tools
# Each entry is menuName, "Command text", className
# Author LazzyIzzi
# Requires ImageJ 1.53k
# Date:2/5/2022

#Eclipse embeds the package name (CT_Tools) into the the className access path.
#plugins.config must explicitly put the package name in the className access path.
#Note the use of the "dot" in the path string. Why not the traditional "/" or "\"???

#only one plugins.config file per jar file
#jar file structure must be flat, i.e. no embedded directories

Plugins>CT_Tools>X-ray Calculators,"Xray_Calculator", CT_Tools.Xray_Calculator
Plugins>CT_Tools>X-ray Calculators,"Xray_Lookup", CT_Tools.Xray_Lookup

Plugins>CT_Tools>X-ray Hardening,"Scanner_Setup", CT_Tools.Scanner_Setup
Plugins>CT_Tools>X-ray Hardening,"Find_Linearization", CT_Tools.Find_Linearization
Plugins>CT_Tools>X-ray Hardening,"Apply_Linearization", CT_Tools.Apply_Linearization
Plugins>CT_Tools>X-ray Hardening,"Material_Tagger", CT_Tools.Material_Tagger
Plugins>CT_Tools>X-ray Hardening,"TagSlice_To_MuLin", CT_Tools.TagSlice_To_MuLin
Plugins>CT_Tools>X-ray Hardening,"Linearization_Fitter", CT_Tools.Linearization_Fitter
Plugins>CT_Tools>X-ray Hardening,"Materials_Editor", CT_Tools.Materials_Editor

Plugins>CT_Tools>X-ray Projectors,"MuLinSlice_To_Parallel_Sinogram", CT_Tools.MuLinSlice_To_Parallel_Sinogram
Plugins>CT_Tools>X-ray Projectors,"TagSlice_To_Parallel_Brems_Sinogram.java", CT_Tools.TagSlice_To_Parallel_Brems_Sinogram.java
Plugins>CT_Tools>X-ray Projectors,"MuLinSlice_To_Fan_Sinogram.java", CT_Tools.MuLinSlice_To_Fan_Sinogram
Plugins>CT_Tools>X-ray Projectors,"TagSlice_To_Fan_Brems_Sinogram.java", CT_Tools.TagSlice_To_Fan_Brems_Sinogram
Plugins>CT_Tools>X-ray Projectors,"Show_Sinogram_Properties", CT_Tools.Show_Sinogram_Properties
